
.main-cage {
  background-color: #fff;
  width: 1250px;
  min-height: 400px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  margin-bottom: 70px;
  border-radius: 3px;
  border: 2px solid #000;
}

.btn-cage {
  margin: 30px;
  text-align: center;
}

.h1-cage {
  margin-top: 10px;
}

.group-list {
  width: 250px;
  height: 400px;
  border: 2px solid #000;
  background-color: #dbff3f;
}

#group-list {
  overflow-y: scroll;
  height: 80%;
  background-color: #fff;
  width: 90%;
  margin: auto;
}

.main-handle {
  border: 2px solid #000;
  width: 720px;
  height: 400px;
}

.inl {
  vertical-align: top;
  display: inline-block;
}

.inlc {
  vertical-align: middle;
  display: inline-block;
}

.gl-data {
  cursor: pointer;
  margin: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  border: 1px solid #000;
  width: 90%;
  text-align: left;
}

.gl-img {
  border-radius: 100%;
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-left: 5px;
}

.gl-name {
  margin-left: 10px;
}

.gl-img-cg {
  width: 50px;
}

.channel-list {
  width: 250px;
  height: 400px;
  border: 2px solid #000;
  background-color: #dbff3f;
}

#channel-list {
  overflow-y: scroll;
  height: 80%;
  background-color: #fff;
  width: 90%;
  margin: auto;
}