
.main-cage {
  text-align: center;
}
.login-cage {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 150px;
  border: 1px solid #000;
  width: 450px;
  height: 370px;
}
.in-label {
  font-size: 18px;
  margin-top: 30px;
}
.in-btn-login {
  margin-top: 20px;
}
.in-cage {
  margin-top: 10px;
}
.in-register {
  margin-top: 20px;
}